@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* app/globals.css */
:root {
  --color-dark: #1b1b1b;
  --color-light: #f5f5f5;
  --color-primary: #B63E96;
  --color-primary-dark: #58E6D9;
  --font-mont: "Montserrat", sans-serif;
  --circular-light: repeating-radial-gradient(rgba(0, 0, 0, 0.4) 2px,#f5f5f5 5px,#f5f5f5 100px
  );

}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-family: var(--font-mont);
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .animate-spin-slow {
    animation: spin-slow 8s linear infinite;
  }

  .bg-circular-light {
    background-image: var(--circular-light);
    background-size: cover;
    background-repeat: no-repeat;
  }

}

